.skillsWrap {
  width: 100vw;
}

.stickyWrap {
  position: sticky;
  overflow: hidden;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgb(139, 100, 164);
  background: linear-gradient(
    0deg,
    rgb(195, 127, 155) 0%,
    rgba(77, 66, 176, 1) 35%,
    rgba(6, 1, 78, 1) 90%
  );
}

.backLight {
  position: relative;
  top: 0px;
  width: 100vw;
  height: 250vh;
  background: rgb(139, 100, 164);
  background: radial-gradient(
    circle,
    rgb(195, 127, 155) 0%,
    rgba(139, 100, 164, 1) 25%,
    rgba(255, 255, 255, 0) 75%
  );
}

.cloud {
  position: absolute;
  bottom: 0px;
  width: 1000vw;
  height: 120px;
  background-repeat: repeat-x;
  background: url("/images/skills/cloud.png");

  &:nth-child(3) {
    opacity: 0.5;
  }

  &:nth-child(4) {
    bottom: -20px;
  }
}

.moonWrap {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);

  img {
    width: 60vh;
    animation: bounce 2s ease-in-out infinite alternate;
  }
}

.content {
  position: absolute;
  top: 0px;
  left: 200vh;
  width: 100vw;
  height: 100vh;

  .skills {
    display: flex;
    position: absolute;
    bottom: 140px;
    left: 50vw;
    padding-right: 300px;
    width: fit-content;
    align-items: center;

    h3 {
      color: #fff;
      font-weight: bold;
      font-size: 2.2em;
      width: 220px;
      margin-right: 500px;
    }

    .stack {
      transform: translateY(100%);
      transition: 0.25s ease-out;
      width: 400px;
      box-sizing: border-box;

      p {
        color: #d6fffc;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
      }

      .tag {
        color: #b095c0;
        font-size: 12px;
        line-height: 12px;
      }

      .level {
        color: #c594c3;
        font-size: 40px;
        line-height: 46px;
      }
    }

    .lineWrap {
      opacity: 0.1;

      .line {
        position: absolute;
        top: 60px;
        width: 100%;
        list-style: none;

        li {
          hr {
            border-color: rgba(255, 255, 255);
          }
        }

        li + li {
          margin-top: 20px;
        }
      }

      .lineEnd {
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 0px;
        top: 61px;
        width: 8px;
        height: 89px;

        &:nth-child(2) {
          right: 15px;
          width: 2px;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
