.skillsWrap {
  width: 100vw;
}

.stickyWrap {
  position: sticky;
  overflow: hidden;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: #8b64a4;
  background: -webkit-gradient(linear, left bottom, left top, from(#c37f9b), color-stop(35%, #4d42b0), color-stop(90%, #06014e));
  background: linear-gradient(0deg, #c37f9b 0%, #4d42b0 35%, #06014e 90%);
}

.backLight {
  position: relative;
  top: 0px;
  width: 100vw;
  height: 250vh;
  background: #8b64a4;
  background: radial-gradient(circle, #c37f9b 0%, #8b64a4 25%, rgba(255, 255, 255, 0) 75%);
}

.cloud {
  position: absolute;
  bottom: 0px;
  width: 1000vw;
  height: 120px;
  background-repeat: repeat-x;
  background: url("/images/skills/cloud.png");
}
.cloud:nth-child(3) {
  opacity: 0.5;
}
.cloud:nth-child(4) {
  bottom: -20px;
}

.moonWrap {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.moonWrap img {
  width: 60vh;
  -webkit-animation: bounce 2s ease-in-out infinite alternate;
          animation: bounce 2s ease-in-out infinite alternate;
}

.content {
  position: absolute;
  top: 0px;
  left: 200vh;
  width: 100vw;
  height: 100vh;
}
.content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 140px;
  left: 50vw;
  padding-right: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .skills h3 {
  color: #fff;
  font-weight: bold;
  font-size: 2.2em;
  width: 220px;
  margin-right: 500px;
}
.content .skills .stack {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content .skills .stack p {
  color: #d6fffc;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
}
.content .skills .stack .tag {
  color: #b095c0;
  font-size: 12px;
  line-height: 12px;
}
.content .skills .stack .level {
  color: #c594c3;
  font-size: 40px;
  line-height: 46px;
}
.content .skills .lineWrap {
  opacity: 0.1;
}
.content .skills .lineWrap .line {
  position: absolute;
  top: 60px;
  width: 100%;
  list-style: none;
}
.content .skills .lineWrap .line li hr {
  border-color: white;
}
.content .skills .lineWrap .line li + li {
  margin-top: 20px;
}
.content .skills .lineWrap .lineEnd {
  background-color: white;
  position: absolute;
  right: 0px;
  top: 61px;
  width: 8px;
  height: 89px;
}
.content .skills .lineWrap .lineEnd:nth-child(2) {
  right: 15px;
  width: 2px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=skills.module.css.map */