.skillsWrap {
  width: 100vw;
  height: 500vh;
}

.stickyWrap {
  position: sticky;
  overflow: hidden;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgb(139, 100, 164);
  background: linear-gradient(
    0deg,
    rgba(139, 100, 164, 1) 0%,
    rgba(77, 66, 176, 1) 35%,
    rgba(6, 1, 78, 1) 90%
  );
}

.backLight {
  position: relative;
  top: 120px;
  width: 100vw;
  height: 100vh;
  background: rgb(139, 100, 164);
  background: radial-gradient(
    circle,
    rgba(139, 100, 164, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
}

.cloud {
  position: absolute;
  bottom: 120px;
  width: 500vw;
  height: 120px;
  background-repeat: repeat-x;
  background: url("/images/skills/cloud.png");

  &:nth-child(2) {
    opacity: 0.5;
  }

  &:nth-child(3) {
    bottom: 100px;
  }
}

.moonWrap {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  img {
    width: 60vh;
    animation: bounce 2s ease-in-out infinite alternate;
  }
}

.content {
  position: absolute;
  left: 200vh;
  width: 100vw;
  height: 100vh;

  .skills {
    display: inline-block;
    position: absolute;
    bottom: 240px;
    left: 50vw;
    width: 220px;

    p {
      color: #fff;
      font-weight: bold;
      font-size: 2.2em;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
